{{ define "body_classes" }}page-blog-single{{ end }}

{{ define "main" }}
  <div class="blog">
    {{ if .Site.Params.showAuthorOnPosts }}
      {{ partial "author.html" . }}
    {{ end }}
    <div class="intro">
      <h1>{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}</h1>
      {{ if .Params.image }}
      <img alt="{{.Params.imageAltAttribute | default "Article hero image"}}" src="{{ .Params.image | relURL }}" />
      {{ end }}
    </div>
    {{ if .Params.tags }}
    {{ end }}
    <div class="content">
      {{ .Content }}
    </div>
    {{ if .Params.tags }}
      <div class="tags" style="margin-bottom: 1rem;">
        {{ range .Params.tags }}
        <a href="{{ "tags/" | relURL }}{{ . }}">#{{ . }}</a>
        {{ end }}
      </div>
    {{ end }}
    <script src="https://giscus.app/client.js"
            data-repo="zachflower/decrypt.education"
            data-repo-id="R_kgDONMk2Gw"
            data-category="Announcements"
            data-category-id="DIC_kwDONMk2G84CkIDx"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="0"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="light"
            data-lang="en"
            crossorigin="anonymous"
            async>
    </script>
  </div>
{{ end }}